<header id="games-header-bar" class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="navbar-header">
			<h1 id="games-header-text">News</h1>
		</div>
		
		<%= form_tag url_for(controller: 'articles', action: 'search'), method: 'get' do %>
	       <div style="float:right; padding-top:15px; padding-right: 10px; width: 25%;">
	       	<%= text_field_tag :search, params[:search], :id => 'search_field', style: 'margin-bottom: 0px;', type:'search', placeholder: 'search articles' %>
	       </div>
	       <div style="float:right; padding-top: 10px;" >
	            <%= button_tag(type: "submit", class: "btn btn-default") do %>
	            	<i class="icon-search"></i>
	            <% end %>
	       </div>
    	<% end %>
	</div>
</header>

<div class="accordian">
	<ul>
	<% @articles_strip.each do |article| %>
		<li>
			<div class="image_title">
				<a href="#"><%= link_to article.title, article %></a>
			</div>
			<% if article.image_attachments.count > 0 %>
				<a href="#"><%= link_to image_tag(article.image_attachments.first.image_url), article %></a>
			<% end %>
		</li>
	<% end %>
	</ul>
</div>

<div id="articles-list"><%= render 'articles_list' %></div>
