<% provide(:title, 'Upload an Article') %>
<h1>Upload an Article</h1>

<div class="row">
  <div class="form-group">
    <%= form_for (@article), :html => {:multipart => true} do |f| %>
      <div id="article_form">
      	  <%= f.file_field :image %>

          <%= f.label :title %>
          <%= f.text_field :title %>

          <%= f.label :content %>
          <%= f.text_field :content %>
          <br>
      </div>  
      <div id="article_upload_btn">
          <%= f.submit "Upload", class: "btn btn-large btn-primary " %>
      </div>
    <% end %>
  </div>
</div>