<% provide(:title, 'Post an Article') %>
<h1>Post an Article</h1>

<div class="row">
  <div class="create-article">
    <%= form_for (@article), :html => {:multipart => true} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div id="article_form">      	  
          <%= f.label :title %>
          <%= f.text_field :title %>
          
          <div id="content_article">
            <%= f.label :content %>
            <%= f.text_area :content, :rows => "30" %>
          </div>

          <%= f.fields_for @article.image_attachments.build do |p| %>
             <%= p.file_field :image, :multiple => true, name: "image_attachments[image][]" %>
          <% end %>
          <br>
      </div>  
      <div id="article_upload_btn">
          <%= f.submit "Post", class: "btn btn-large btn-primary " %>
      </div>
    <% end %>
  </div>
</div>