<div id="show-article">
  <div class="article-title">
    <p><%= @article.title %> 
    </p> 
  </div>
  <div class="article-title-info">
    <span class="timestamp">Posted <%= time_ago_in_words(@article.created_at) %> ago. By </span> 
    <%= link_to @article.user.username, @article.user %>
    <% if signed_in? %>
      <% if current_user.admin? %>
        <%= link_to edit_article_path(@article), class: "btn btn-primary btn-large", id: "edit-article-btn" do %>
          Edit
        <% end %>
        <%= link_to @article, class: "btn btn-danger btn-large", id: "delete-article-btn", method: :delete, data: {confirm: "You sure?"} do %>
          Delete
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="article-image">
    <% if @article.image_attachments.count > 1 %>
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <% if @article.image_attachments.count > 2 %>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          <% end %>
          <% if @article.image_attachments.count > 3 %>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          <% end %>
          <% if @article.image_attachments.count > 4 %>
            <li data-target="#myCarousel" data-slide-to="4"></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <div class="active item">
            <%= image_tag @image_attachments.first.image_url %>
          </div>
          <% if @image_attachments.count > 1 %>
            <div class="item">
              <%= image_tag @image_attachments.second.image_url %>
            </div>
          <% end %>
          <% if @image_attachments.count > 2 %>
            <div class="item">
              <%= image_tag @image_attachments.third.image_url %>
            </div>
          <% end %>
          <% if @image_attachments.count > 3 %>
            <div class="item">
              <%= image_tag @image_attachments.fourth.image_url %>
            </div>
          <% end %>
          <% if @image_attachments.count > 4 %>
            <div class="item">
              <%= image_tag @image_attachments.fifth.image_url %>
            </div>
          <% end %>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    <% else %>
      <div id="one-article-image" style="margin-left: 30px">
        <%= image_tag @image_attachments.first.image_url %>
      </div>
    <% end %>
  </div>
  <div class="article-content">
    <p><%= @article.content %></p> 
  </div>
  <div class="next-previous-btn">
    <%= link_to @previous_article, class: "btn btn-warning", id: "previous-article-btn" do %>
      Previos  
    <% end %>
    <%= link_to @next_article, class: "btn btn-warning", id: "next-article-btn" do %>
      Next  
    <% end %>
  </div>
</div>
<div id="article_comment">
    <%= form_for ([@article, @article.article_comments.build]), remote: true do |f| %>
      <%= f.text_area :content, :rows => "4" %>
      <%= f.submit "Comment", class: "btn btn-large btn-primary" %>
    <% end %>
    <%= render 'article_comment_form', article_comments_data: @article_comments %>
</div>
  
  
    

  
