<header id="games-header-bar" class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="navbar-header">
			<h1 id="games-header-text">Users</h1>
		</div>
		<%= form_tag url_for(controller: 'users', action: 'search'), method: 'get' do %>
	       <div style="float:right; padding-top:15px; padding-right: 10px; width: 25%;">
	       	<%= text_field_tag :search, params[:search], :id => 'search_field', style: 'margin-bottom: 0px;', type:'search', placeholder: 'search articles' %>
	       </div>
	       <div style="float:right; padding-top: 10px;" >
	            <%= button_tag(type: "submit", class: "btn btn-default") do %>
	            	<i class="icon-search"></i>
	            <% end %>
	       </div>
    	<% end %>
	</div>
</header>

<div style="margin-bottom: 10px;">
	<%= link_to signup_path, class: "btn btn-primary" do %>
		Create a New User
	<% end %>
</div>

<div id="users"><%= render 'users' %></div>
