<%= will_paginate @games %>
<ul id="index-user-article" class="users">
	<% @games.each do |game| %>
		<li>
			<% if game.image_attachments.count > 0 %>
				<%= link_to image_tag(game.image_attachments.first.image_url), game %>
			<% end %>
			<%= link_to game.name, game %>
			<% if current_user.admin? %>
			   | <%= link_to game, class: "btn btn-danger", method: :delete,
			                                  data: { confirm: "You sure?" } do%>
			        delete
			     <% end %>
			<% end %>
		</li>
		<% end %>
</ul>
<%= will_paginate @games %>