<% provide(:title, "Edit Game Infomation") %>
<h1>Edit Game</h1>

<div id="edit-game">
  <div>
    <%= form_for(@game) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="article-image">
        <% if @game.image_attachments.count > 0 %>
          <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
              <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
              <div class="active item">
                <%= image_tag @image_attachments.first.image_url %>
                <div class="carousel-caption">
                  <% if current_user.admin? || @game.user == current_user %>
                     | <%= link_to @image_attachments.first, class: "btn btn-danger", method: :delete,
                                                    data: { confirm: "You sure?" } do%>
                          Delete
                       <% end %>
                  <% end %>
                </div>
              </div>
              <% if @image_attachments.count > 1 %>
                <div class="item">
                  <%= image_tag @image_attachments.second.image_url %>
                  <div class="carousel-caption">
                    <% if current_user.admin? || @game.user == current_user %>
                       | <%= link_to @image_attachments.second, class: "btn btn-danger", method: :delete,
                                                      data: { confirm: "You sure?" } do%>
                            Delete
                         <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% if @image_attachments.count > 2 %>
                <div class="item">
                  <%= image_tag @image_attachments.third.image_url %>
                  <div class="carousel-caption">
                    <% if current_user.admin? || @game.user == current_user %>
                       | <%= link_to @image_attachments.third, class: "btn btn-danger", method: :delete,
                                                      data: { confirm: "You sure?" } do%>
                            Delete
                         <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% if @image_attachments.count > 3 %>
                <div class="item">
                  <%= image_tag @image_attachments.fourth.image_url %>
                  <div class="carousel-caption">
                    <% if current_user.admin? || @game.user == current_user %>
                       | <%= link_to @image_attachments.fourth, class: "btn btn-danger", method: :delete,
                                                      data: { confirm: "You sure?" } do%>
                            Delete
                         <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% if @image_attachments.count > 4 %>
                <div class="item">
                  <%= image_tag @image_attachments.fifth.image_url %>
                  <div class="carousel-caption">
                    <% if current_user.admin? || @game.user == current_user %>
                       | <%= link_to @image_attachments.fifth, class: "btn btn-danger", method: :delete,
                                                      data: { confirm: "You sure?" } do%>
                            Delete
                         <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
        <% end %>
      </div>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :link %>
      <%= f.text_field :link %>

      <%= f.label :description %>
      <%= f.text_area :description, :rows => "10" %>

      <%= f.collection_select :category_id, Category.all, :id, :title, :prompt => "Category" %>

      <%= f.collection_select :status_id, Status.all, :id, :title, :prompt => "Status" %>

      <%= f.fields_for @game.image_attachments.build do |p| %>
             <%= p.label :image %><br>
             <%= p.file_field :image, :multiple => true, name: "image_attachments[image][]" %>
          <% end %>

      <div class="save-btn">
        <%= f.submit "Save", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>