<% provide(:title, 'Share Games') %>
<h1>Share Games</h1>

<div class="row">
  <div class="share-a-game">
    <%= form_for (@game), :html => {:multipart => true} do |f| %>
      <div id="game_form">      	  
          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :link %>
          <%= f.text_field :link %>

          <%= f.label :description %>
          <%= f.text_area :description, :rows => "10" %>

          <%= f.collection_select :category_id, Category.all, :id, :title, :prompt => "Category" %>

          <%= f.collection_select :status_id, Status.all, :id, :title, :prompt => "Status" %>

          <%= f.fields_for @game.image_attachments.build do |p| %>
             <%= p.file_field :image, :multiple => true, name: "image_attachments[image][]" %>
          <% end %>
          <br>
      </div>  
      <div id="game_upload_btn">
          <%= f.submit "Share", class: "btn btn-large btn-primary " %>
      </div>
    <% end %>
  </div>
</div>