<footer id="footer" class="navbar navbar-inverse">
    	<div class="navbar-inner">
    		<div class="nav pull-left">
      			<%= link_to image_tag("indy_wei_logo.png", alt: "IndyCrew", id: "logo"), '#' %>
      		</div>
      		<div class="container">
        			<p class="navbar-text nav pull-left">© 2014 IndyCrew</p>
        			<ul class="nav pull-right">
    		    		<li><%= link_to "About", about_path %></li>
    		    		<li><%= link_to "Contact", contact_path %></li>
    		    		<li><%= link_to "Privacy", privacy_path %></li>
    		    		<li><%= link_to "Terms", term_path %></li>
      		    </ul>
      		</div>
    	</div>
    </footer>